@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo!</h1>
    <p>Mantenha o controle do seu estoque da forma mais precisa possível.</a>.</p>
</div>
