@model ProdutoModel
@{
    ViewData["Title"] = "Cadastro de Produto";
}

<div class="text-left">
    <h1 class="display-4">CADASTRO DE PRODUTO</h1>
    <p></p>
</div>

<br />

<form asp-controller="Cadastro" asp-action="CadastroProdutoView" method="post">

    <div class="form-group">
        <input type="hidden" asp-for="Id" class="form-control" placeholder="Informe o código do produto.">
    </div>

    <br />

    <div class="form-group">
        <label for="Descrição">Descrição</label>
        <input type="text" required="true" style="text-transform:uppercase" asp-for="Descricao" class="form-control" placeholder="Informe a descrição.">
    </div>

    <br />

    <div class="form-group">
        <label for="Quantidade">Quantidade</label>
        <input type="text" required="true" style="text-transform:uppercase" asp-for="Quantidade" class="form-control" placeholder="Informe a quantidade.">
    </div>

    <br />

    <div class="form-group">
        <label for="Preco">Preço Unitário</label>
        <input type="text" required="true" style="text-transform:uppercase" asp-for="PrecoUnit" class="form-control" placeholder="Informe o preco Unitário.">
    </div>

    <br />

    <div class="form-group" >
        <label for="Locação">Locação no Estoque</label>
        <input type="text" required="true" style="text-transform:uppercase" asp-for="Locacao" class="form-control" placeholder="Informe a locação.">
    </div>

    <br />

    <div class="form-group">
        <label for="Fornecedor">Fornecedor</label>
        <input type="text" required="true" style="text-transform:uppercase" asp-for="Fornecedor" class="form-control" placeholder="Informe o nome do fornecedor.">
    </div>

    <br />

    <div class="form-group">
        <label for="Marca">Marca do produto</label>
        <input type="text" required="true" style="text-transform:uppercase" asp-for="Marca" class="form-control" placeholder="Digite a marca do produto.">
    </div>

    <br />

    <button type="submit" class="btn btn-primary">CADASTRAR</button>

    <div class="btn-group" role="group">
        <a role="button" class="btn btn-secondary" asp-controller="Home" asp-action="Index">CANCELAR</a>
    </div>

</form>
