@{
    ViewData["Title"] = "Produto Excluído";
}

<div class="text-center">
    <h1 class="display-4">PRODUTO EXCLUÍDO!</h1>
    <p>O produto foi excluído com sucesso.</a>.</p>

    <a class="btn btn-primary btn-block" asp-action="Index" asp-controller="Home" role="button">TELA INICIAL</a>
    <a class="btn btn-primary btn-block" asp-action="CadastroProdutoView" asp-controller="Cadastro" role="button">CADASTRAR NOVO PRODUTO</a>
    <a class="btn btn-primary btn-block" asp-action="ConsultaEstoqueView" asp-controller="Consulta" role="button">CONSULTAR PRODUTOS CADASTRADOS</a>
</div>


