@model ProdutoModel
@{
    ViewData["Title"] = "Editar Produto";
}

<div class="text-left">
    <h1 class="display-4">EDITAR CADASTRO DE PRODUTO</h1>
    <p></p>
</div>

<br />

<form asp-controller="Editar" asp-action="EditarProdutoView" method="post">

    <div class="form-group">
        <input type="hidden" asp-for="Id" class="form-control" placeholder="Digite o Código do Produto.">
    </div>

    <br />

    <div class="form-group">
        <label for="Descrição">Descrição</label>
        <input type="text" required="true" asp-for="Descricao" class="form-control" placeholder="Digite a Descricao.">
    </div>

    <br />

    <div class="form-group">
        <label for="Quantidade">Quantidade</label>
        <input type="text" required="true" asp-for="Quantidade" class="form-control" placeholder="Digite a Quantidade.">
    </div>

    <br />

    <div class="form-group">
        <label for="Preco">Preço Unitário</label>
        <input type="text" required="true" asp-for="PrecoUnit" class="form-control" placeholder="Digite o Preco Unitário.">
    </div>

    <br />

    <div class="form-group">
        <label for="Locação">Locação no Estoque</label>
        <input type="text" required="true" asp-for="Locacao" class="form-control" placeholder="Digite a Locação.">
    </div>

    <br />

    <button type="submit" class="btn btn-primary">CONFIRMAR ALTERAÇÕES</button>

    <p></p>

    <div class="btn-group" role="group">
        <a role="button" class="btn btn-danger" asp-controller="Excluir" asp-action="ExcluirProdutoView" asp-route-id="@Model.Id">EXCLUIR PRODUTO</a>
    </div>

    <p></p>

    <div class="btn-group" role="group">
        <a role="button" class="btn btn-secondary" asp-controller="Consulta" asp-action="ConsultaEstoqueView">CANCELAR</a>
    </div>
</form>
